main {
    height: calc(100vh - 63px - 236px);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 24px;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 16px;
}

.image-container {
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #b0b0b0;
}

.text-container {
    text-align: justify;
    font-size: 1.2rem;
    color: #b0b0b0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        align-items: center;
    }

    .image-container,
    .text-container {
        flex: 1;
    }
}