main {
    height: calc(100vh - 64px - 290px);
}

.container {
    background-color: #a5a1a1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1f1f1f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: #424242;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.signup-prompt {
    text-align: center;
    margin-top: 15px;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}