@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* for testing */
.border-red {
    border: 2px solid red;
}
.border {
    border: 1px solid;
}

* {
    font-family: "Roboto", "arial";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100vh;
    /* background: conic-gradient(from 0deg, #1c1c1c, #3c3c3c, #6b6b6b, #3c3c3c, #1c1c1c); */
    /* background: radial-gradient(circle, #1c1c1c, #3c3c3c, #6b6b6b, #3c3c3c, #1c1c1c); */
    background: repeating-linear-gradient(45deg, #1c1c1c, #3c3c3c 20%, #6b6b6b 40%, #b2a0a0 60%, #1c1c1c 80%);
    /* background: repeating-linear-gradient(45deg, #003300, #1e662e 20%, #3b8c42 40%, #5ebd5e 60%, #a8e6a3 80%); */

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #1c1c1c;
}

button:hover {
    cursor: pointer;
}

/* testing */
/* html {
    background: radial-gradient(ellipse at center, #232526, #414345);
    background: linear-gradient(to top, #454545, #787878);
    background-color: #1E1E1E;
    background: conic-gradient(from 180deg, #2b2b2b, #484848, #737373, #484848);
} */